*{
    margin: 0;
    padding: 0;
}

.topo {
    background-color: #6F4E37;
    display: flex;
    align-items: center;
    padding: 10px;
    height: 50px;
}

.topo a{
    color: #ffffff;
    font-family: oswald, sans-serif;
}
.topo img {
    margin-left: 200px;
    width: 65px;
    height: 65px; 
    padding-right:730px ;
}


.topo a {
    text-decoration: none;
    margin-left: 20px;
}

.banner{
    background-image: url(parallax-imagem1.png);
    height: 800px;
    width: 100% 100%;
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat; 
    
}

.banner h1{
    font-family: fraunces, serif;
  text-align: center;
   padding-top: 340px;
   font-size: 80px;
   color: white;
}

.experimente{
    
    text-align: center;
    padding-top: 50px;
    width: 820px;
    margin: 0 auto;
}

.experimente h2{
    color: #c79b61;
    font-family: fraunces, serif;
    padding-bottom: 45px;
}

.experimente p{
    font-family: lato;
}

.paralax{
    background-image: url(parallax-imagem2.jpg);
    width: 100%;
    height: 500px;
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat; 
}

.paralax h3{
    font-weight: normal;
   font-style: italic;
    font-family: fraunces, serif;
    text-align: center;
    padding-top: 250px;
    font-size: 30px;
}

.oq{
    text-align: center;
    padding-top: 50px;
    width: 780px;
    margin: 0 auto; 
}

.oq h2{
    padding-bottom: 45px;
    font-family: fraunces, serif;
    color: #c79b61;
    
}

.oq p{
    font-family: lato;
}

.paralaxdois{
    background-image: url(parallax-imagem3.jpg);
    width: 100%;
    height: 500px;
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat; 
}

.paralaxdois h3{
    font-family: fraunces, serif;
    text-align: center;
    padding-top: 250px;
    font-size: 30px;
    font-weight: normal;
   font-style: italic;
}

.conheca{
    text-align: center;
    padding-top: 50px;
    width: 780px;
    margin: 0 auto; 
}

.conheca h2{
    font-family: fraunces, serif;
    padding-bottom: 45px;
    color: #c79b61;
}

.conheca p{
    font-family: lato;
}

.ct{
    
    background-image: url(parallax-imagem4.png);
    width: 100%;
    height: 800px;
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    text-align: center; 
}

.ct h2{
    font-family: oswald;
    font-weight: normal;
}

.ct p{
    font-family: lato;
}

.cttttt{
    color: white;
    background-color: #6F4E37;
    width: 400px;
    margin-left: 610px;
    position: absolute;
    margin-top: 35px;
    padding-top: 20px;
    padding-bottom: 20px;
}

iframe{
    padding-top: 150px;
    padding-bottom: 50px;
}

.ctt{
    color: white;
    margin: 0 auto;
    background-color: #6F4E37;
    width: 500px;
    padding-bottom: 20px;
    padding-top: 20px;
}

.paralax h3, .paralaxdois h3{
    font-family: fraunces, serif;
background-color: #6F4E37;
text-align: center;
position: relative;
top: 200px;
width: 500px;
padding: 10px;
margin-left: 530px;
color: white;
font-size: 30px;
}

.horario-container {
    background-image: url('cafeteria.jpg');
    width: 100%;
    height: 800px;
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;

    text-align: center;
}

.horario-conteudo {
    padding: 20px;
    width: 80%;
}

.horario-tabela {
    margin-top: 20px;
}

.horario-linha {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    border-bottom: 1px solid white;
}

.horario-linha  {
    text-align: left;
}

.horario-linha  {
    text-align: right;
}

.rodape {
    background-color: black;
    color: white;
    text-align: center;
    padding: 10px;
}

.rodape p {
    font-family: lato;
    margin: 5px 0;
}

.fechado{
    color: rgba(146, 113, 23, 0.795);
}

span{
    font-weight: bold;
}

.seta img{
    position: relative;
    left: 100px;
    width: 45px;
    height: 45px;
    bottom: -400px;
}

.pp{
    padding-bottom: 50px;
}

